## ROPOSHOP SPECIFIC GIT IGNORE
#assets/*
#!assets/admin/*
#!assets/user/*
#!assets/favicon.ico
#!assets/logo.png
assets/brand/
assets/product/
assets/seller/
assets/temp/
assets/profile_pics/

## STANDARD GIT IGNORE CONTENT

.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
application/debug.log

application/config/environment\.php

\.htaccess
